.site-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px, 20px;
    background-color: olive;
    border-radius: 10px;
}

.site-header img {
    max-width: 50px;
    max-height: 50px;
    background-color: olive;
    border-radius: 10px;
}

.site-logo {
    display: flex;
    align-items: center;
    font-size: 1.5rem;
    font-weight: bold;
    margin-left: 10px;
}

.navbar ul {
display: flex;
font-weight: bold;
list-style-type: none;
text-decoration: none;
}

.navbar ul li {
    margin-right: 10px;
}

a {
    text-decoration: none;
    color: black;
}

.main-container {
    background-color: blanchedalmond;
    border-radius: 10px;
}

.hero {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    
    font-size: 48px;
}

.introduction {
    display: flex;
    justify-content: center;
    width: 100%;
    max-height: 25%;
    background-color: burlywood;
    border-radius: 25px;
    border: 2pt solid burlywood;
    box-shadow: rgb(0, 0, 0, 0.4) 8px 10px 8px, rgb(0, 0, 0, 0.8) 10px 15px 10px;
}

.card-container {
    display: flex;
    margin: 10px;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.card {
    max-width: 33%;
    max-height: 400px;
    overflow: auto;
    padding: 10px;
    margin: 10px;
    text-align: center;
    border-radius: 25px;
    border: grey 2px solid;
    background-color: beige;
}

.featured {
    display: flex;
    justify-content: center;
    padding: 15px;
    color: black;
    font-size: 48px;
}

.menu-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 15px, 20px;
}

.menu-card {
    display: flex;
    justify-content: space-evenly;
    justify-content: center;
    min-width: 49%;
    max-height: 800px;
    text-align: center;
    border: bisque solid 2pt;
    border-radius: 10px;
    background-color: beige;
}

.upcoming-events {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.card img {
    max-width: 100%;
    max-height: 300px;
    border-radius: 10px;
}

form {
    display: flex;
    flex-direction: column;
    width: 50%;
    background-color: bisque;
    padding: 20px;
    border-radius: 25px;
    color: white;
}

.form-container {
    display: flex;
    justify-content: center;
}

.button {
    background-color: bisque;
    padding: 12px;
    border-radius: 8px;
    border-width: 6px;
    border-color: bisque;
}

.location {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.location-map {
    display: flex;
    justify-content: center;
}

.location-map img {
    max-height: 800px;
    max-width: 1200px;
    border-radius: 10px;
}